body {
  width: 750px;
  max-width: 90%;
  min-width: 300px;
  display: block;
  margin: 50px auto;
}

img {
  max-width: 100%;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: none;
}

.computer-buddy {
  height: 70px;
  width: 80px;
  background-image: url("./computer.png");
  background-size: 80px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  filter: brightness(.8) saturate(.2) contrast(2);
  z-index: 2;
}

@page { size: auto;  margin: 0mm; }

@media print {
  img {
    filter: saturate(0);
  }
}