body {
  width: 750px;
  max-width: 90%;
  min-width: 300px;
  display: block;
  margin: 1.5% auto;
  padding-top: 15px; 
}

img {
  max-width: 100%;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: none;
}

.computer-buddy {
  height: 45px;
  width: 50px;
  background-image: url("./computer.png");
  background-size: 50px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  filter: brightness(.8) saturate(.2) contrast(2);
  z-index: 2;
  animation: rock 5s ease-in-out infinite;
  -webkit-animation: rock 5s ease-in-out infinite;
  -moz-animation: rock 5s ease-in-out infinite;
}

@page { size: auto;  margin: 0mm; }

@media print {
  img {
    filter: saturate(0);
  }
}

@keyframes rock { 
    0% { transform:rotate(-5deg); } 
    50% { transform:rotate(5deg); } 
    100% { transform:rotate(-5deg); } 
}

@-moz-keyframes spin { 
    0% { transform:rotate(-5deg); } 
    50% { transform:rotate(5deg); } 
    100% { transform:rotate(-5deg); } 
}
@-webkit-keyframes spin { 
    0% { transform:rotate(-5deg); } 
    50% { transform:rotate(5deg); } 
    100% { transform:rotate(-5deg); } 
}